@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


:root{
    --main-color:rgb(203, 254, 28);
    --main-color-dark:rgb(164, 204, 23);
    --main-bg-color:rgb(11, 14, 19);
    --bs-body-bg: rgb(11, 14, 19);
}
ul{
    list-style: none;
    padding: 0;
}
::selection{
    background-color: var(--main-color);
    color: black;
}

body{
    font-family: "Chakra Petch" , sans-serif ;
}

.btn-primary,
.btn-outline-primary,
.btn-outline-success{
    color:var(--main-color);
    border-color: var(--main-color);
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    
}

.btn-primary{
    background-color: var(--main-color);
    color: var(--main-bg-color);
    
}
.btn-outline-secondary{
    width: 50px;
    aspect-ratio: 1;
    padding: 4px !important;
    border-radius: 50%;
    font-size: 1.125rem;
}
.btn-outline-success{
    font-size: 0.75rem !important;
}
.btn-primary:hover{
    background-color: var(--main-color-dark);
    border-color: var(--main-color-dark);
    color: var(--main-bg-color);
}

.btn-outline-secondary:hover{
    color:var(--main-color);
    border-color: var(--main-color);
    background-color:var(--main-bg-color);
}
.btn-outline-primary:hover,
.btn-outline-success:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--main-bg-color);
}
.btn-primary::before,
.btn-outline-primary::before{
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    transition: 0.5s;
}
.btn-primary:hover::before,
.btn-outline-primary:hover:before{
    left: 125%;
}

.text-primary{
    color: var(--main-color) !important;
}
.text-secondary{
    color: rgba(255, 255, 255, 0.7) !important;
}

.border-primary{
    border-color: var(--main-color) !important;
}

.badge.bg-primary{
    background-color: rgb(0 0 0 / .5) !important;
}

.title{
    margin: 80px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h1{
    font-family: 'Days One' , sans-serif;
    font-size: 1.875rem;
    width: fit-content;
}
.title p{
    font-size: 0.875rem ;
    word-spacing: .2em;
    letter-spacing: .2em;
    position: relative;
    width: fit-content;
}

.title p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    width: 2rem;
    height: 3px;
    background-image: linear-gradient(to right , transparent , var(--main-color));
}
.title p::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    width: 2rem;
    height: 3px;
    background-image: linear-gradient(to left , transparent , var(--main-color));
}

.active{
    color: var(--main-color) !important;
}

.navbar-dark {
    background-color:  var(--bs-body-bg) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
    
}
nav ul li a,
nav form a{
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
}
nav a:hover{
    color: var(--main-color) !important;
    
}

.navbar-toggler i {
  color: #fff;  
  font-size: 24px;         
  
}

.navbar-toggler:hover i {
  color: var(--main-color); 
}
.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none !important;
}

#hero{
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5px;
    
}
#hero .layer{
    background-color: rgb(0 0 0 /.87);
    padding-top: 5px;
}

.hero-img-container{
    background-image: linear-gradient(to right , var(--main-color), rgb(74, 222, 128));
    border-radius: 25px;
}
.hero-img-container img{
    border-radius: 20px;
}
.hero-img-text{
    bottom: -20px;
    left: -20px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
}
.hero-img-text p:first-child{
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.5);
}
.hero-img-text p:last-child{
    font-size: 1.125rem;
}

.slid-img .inner{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border-color 0.1s;
    border-radius: 1rem;
     
}
.slid-img .inner img{
    aspect-ratio: 4 / 3;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    transform-origin: center center;
}
.slid-img .inner .slid-content{
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: linear-gradient(to bottom , transparent 50%, var(--main-color) );
    transition: all 0.3s;
    
}
.slid-img .inner .slid-content h3{
    font-size: 1.125rem ;
}
.slid-img .inner .slid-tags{
    position: absolute;
    top: -2rem;
    left: 1rem;
    transition: all 0.3s;
    font-size: 1rem;
}
.slid-img .inner:hover{
    border-color: var(--main-color);
    
}
.slid-img .inner:hover .slid-content{
    bottom: 0;
}
.slid-img .inner:hover .slid-tags{
    top: 1rem;
}
.slid-img .inner:hover img{
    transform: scale(1.08);
}

#what-we-do{
    margin-block: 40px;
    position: relative;
}
#what-we-do::before{
    content: '';
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 3px;
    background-image:linear-gradient(90deg, transparent, var(--main-color) 20%, var(--main-color) 80%, transparent);
    box-shadow: 0 0 10px var(--main-color), 0 0 20px #cbfe1c4d;
}
#what-we-do .title h1,
#what-we-do .title h2{
    font-size: 1.5rem;
}
.what-we-do-content .item,
.what-we-do-content .item-img{
    aspect-ratio: 1;
    font-family: 'Days One' , sans-serif;
    
}
.what-we-do-content .item-img .inner{
    height: 100%
}
.what-we-do-content .item .inner{
    background-color: #1A1A1A;
    height: 100%;
    border: 2px solid #1a202c;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}
.what-we-do-content .item .inner:hover{
    border-color: var(--main-color);
}

.what-we-do-content .item .inner .icon{
    padding: .5rem;
    background-color: #2d3748 !important;
    font-size: 1.25rem;
    transition: all .3s;
}
.what-we-do-content .item .inner .icon i{
    transition: all .3s;
}

.what-we-do-content .item .inner:hover .icon{
    background-color:  var(--main-color) !important;
}
.what-we-do-content .item .inner:hover .icon i{
    color: black !important;
}

.what-we-do-content .item .inner h3{
    font-size: 1.125rem;
}
.what-we-do-content .item .inner::before{
    content: '';
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--main-color);
    top: 0;
    left: 0;
    width: 30px;
    aspect-ratio: 1;
    transform: translate(-20px ,-20px);
    transition: all .3s;
}
.what-we-do-content .item .inner:hover::before{
    transform: translate(20px ,20px);
}
.what-we-do-content .item .inner::after{
    content: '';
    position: absolute;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    background-color: var(--main-color);
    bottom: 0;
    right: 0;
    width: 30px;
    aspect-ratio: 1;
    transform: translate(20px ,20px);
    transition: all .3s;
}
.what-we-do-content .item .inner:hover::after{
    transform: translate(-20px ,-20px);
}

.sponsors{
    margin-block: 100px;
}
.sponsors .car{
    position: relative;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    gap: 1em;
}
.sponsors .car::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgb(0 0 0 / .5), transparent 10%, transparent 90%, rgb(0 0 0 / .5));
    z-index: 1;
}
.sponsors .container-fluid::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 350px;
    z-index: -1;
    background: radial-gradient(var(--main-color) 0%, transparent 60%);
}
.sponsors .car::-webkit-scrollbar{
    display: none;
}
.sponsors .group{
    gap: 1em;
    animation: spin 30s infinite linear;
    opacity: 1;
}
.sponsors .group-2{
    gap: 1em;
    animation: spin2 30s infinite linear;
}
.sponsors .card{
    width: 6em;
    aspect-ratio: 1;
}

@keyframes spin {
    0%{
        
        transform: translate(0);
    }
    100%{
        transform: translate(-100%);
    }
}
@keyframes spin2 {
    0%{
        
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}

.team-members{
    margin-top: 150px;
    margin-bottom: 80px;
}

.team-members .title span{
    font-size: 1.25rem;
    margin-top: 20px;
    color: #cbd5e0aa !important;
}

.team-members .card .inner{
    overflow: hidden;
    height: 20rem;
}
.team-members .card .inner .layer{
    background-image: linear-gradient(to top , black , transparent);
    opacity: .3;
}

.team-members .card .inner::before{
    content: '';
    position: absolute;
    width: 104%;
    height: 104%;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: grayscale(100%) brightness(.8);
    transition: all 0.6s;
    
}
.team-members .card .inner:hover::before{
    transform: translateY(-101%);
}

.team-members .card .card-info h3{
    font-family: 'Days One' , sans-serif;
    font-size: 1.25rem;
    padding-right: 80px !important;
}
.team-members .card .card-info p{
    font-size: 0.875rem;
}
.team-members .card .card-info span{
    font-size: 0.75rem;
    color: #cbd5e0aa ;
}
.team-members .card .nickname{
    font-size: 1.125rem;
    bottom: 50px;
    right: -10px;
}

.contact{
    background-color: rgb(16, 23, 38);
    padding-top: 20px;
    padding-bottom: 100px;
}

.contact .contact-data .contact-data-item{
    background-color:rgb(30, 41, 57) ;
    padding: 2rem;
}
.contact .contact-data .primary{
    background-image:linear-gradient(to right , var(--main-color),rgb(20, 223, 113)) ;
    padding: 2rem;
    
}
.contact .contact-data .primary h3{
    font-size: 1.5rem !important;
}
.contact .contact-data .primary ul li{
    background-color: black;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
}
.contact .contact-data .primary ul li:hover{
    background-color: rgb(0 0 0 / .8);
   
}
.contact .contact-data .contact-data-item span{
    font-size: 1.5rem;
    background-color: var(--main-color);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.contact .contact-data .contact-data-item h3{
    font-family: 'Days One' , sans-serif;
    font-size: 1.25rem;
}
.contact .contact-data .contact-data-item p{
    color: #cbd5e0aa ;
}
.contact .contact-form .inner{
    background-color:rgb(30, 41, 57) ;
    padding: 2rem;
}
.contact .contact-form input:not(input[type="checkbox"]),
.contact .contact-form select,
.contact .contact-form textarea{
    background-color: rgb(54, 65, 83);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    transition: all 0.1s;
    resize: none;
}
.contact .contact-form input:not(input[type="checkbox"]):focus,
.contact .contact-form select:focus,
.contact .contact-form textarea:focus{
    outline:2px solid var(--main-color) !important;
    outline-offset: -2px;
    box-shadow: none;
}
.contact .contact-form input:not(input[type="checkbox"])::placeholder,
.contact .contact-form textarea::placeholder{
    color: #cbd5e0aa !important;
}

.contact .contact-form input[type="checkbox"]{
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    border-radius: 0; 
}
.contact .contact-form input[type="checkbox"]:focus{
    outline:2px solid var(--main-color) !important;
    box-shadow: none;
    
}

.contact .contact-form input[type="checkbox"] ~ label{
    font-size: 0.875rem;
    color: #cbd5e0aa !important;
}
.contact .contact-form label:not(label[for="gridCheck"]){
    font-size: .875rem;
    font-weight: bold;
    color: #e2e8f0 !important;
}

.contact .contact-form h3{
    font-family: 'Days One' , sans-serif;
    font-size: 1.5rem;
}
.contact .contact-form button{
    font-weight: bold;
    font-size:  1.125rem;
    padding: 1rem 1.5rem;
}

.contact .response{
    border-top: 1px solid #cbd5e033;
    padding-top: 30px;
}

.contact .response h4{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
}
.contact .response span{
    font-size: 0.875rem;
    color: #cbd5e0aa !important;
}

footer{
    padding-block: 10px;
    background-color: black;
}

footer .container-xl{
    margin-block: 50px;
}
footer h4,
footer h2{
    margin-bottom:20px ;
    font-size: 1.25rem !important;
}

footer h4{
    font-family: 'Days one' ,sans-serif;
    font-weight: bold;
}
footer li{
    margin-bottom: 10px;
}
footer a,
footer p{
    text-decoration: none;
    color: #cbd5e0b0;
}
footer a:hover{
    color: var(--main-color);
}

footer .social a{
    font-size: 1.25rem !important;
}

footer .footer-low{
    margin-top: 20px;
    border-top: 1px solid #cbd5e033;
    padding-top: 30px;
}

@media (min-width: 300px) { 
    #hero .container-md{
        margin-top:100px ;
        padding-bottom: 100px;
    }
    nav form button{
        width: 100%;
    }

    #hero h1{
        font-size: 2.25rem !important;
    }
    #hero .hero-text p{
        font-size: .875rem !important;
    }
    #hero .hero-img img{
        height: 16rem;
    }
    #what-we-do::before{
        width: 80%;
    }
    
}

@media (min-width: 576px) {  
    
    .btn-outline-success{
        font-size: 1rem !important;
    }
    
    #hero h1{
        font-size: 3rem !important;
    }
    #hero .hero-text p{
        font-size: 1rem !important;
    }
    #hero .hero-img img{
        height: 20rem;
    }
    .hero-img-text p:last-child{
        font-size: 1.25rem;
    }

    .title h1{
        font-size: 2.25rem;
    }

    .title p::before{
        left: -80px;
        transform: translateY(-50%);
        width: 4rem;
        
    }
    .title p::after{
        right: -80px;
        transform: translateY(-50%);
        width: 4rem;
        
    }

    #what-we-do .title h1,
    #what-we-do .title h2{
        font-size: 1.875rem;
    }

    

}

@media (min-width: 768px) {  
    .title h1{
        font-size: 3rem;
    }
    .title p{
        font-size: 1rem ;
    }

    #what-we-do .title h1,
    #what-we-do .title h2{
        font-size: 2.25rem;
    }
    #what-we-do::before{
        width: 70%;
    }

}

@media (min-width: 992px) { 
    
    .btn-outline-success{
        font-size: 1.125rem !important;
    }
    .btn-outline-secondary{
        font-size: 1.25rem !important;
    }
    
    #hero{
        height: 100vh;
    }
    #hero .container-md{
        margin-top: 0 ;
        padding-bottom: 0;
    }
    #hero h1{
        font-size: 3.75rem !important;
    }

    #hero .hero-img img{
        height: 24rem;
    }

    #what-we-do .title h1,
    #what-we-do .title h2{
        font-size: 3rem;
    }

    .what-we-do-content .item .inner .icon{
        padding: 1rem;
        font-size: 1.5rem;
    }
    .what-we-do-content .item .inner h3{
        font-size: 1.25rem;
    }
    #what-we-do::before{
        width: 35%;
    }
}

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }